<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Formulário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">

    <header class="navbar navbar-dark bg-dark shadow-lg row">
        <div class="container-fluid d-flex content-justify-center">
            <div class="col-sm"></div>
            <h2 class="col-md-auto text-light text-center">Lista de Usuários</h2>
            <div class="col-sm"></div>
        </div>
    </header>
    <div>
        <ul>
            <form class="row mr-4" action="/home" method="POST">
                <div class="col-sm"></div>
                <div class="col-md-auto content-justify-center">
                    <button class="btn btn-dark border-light text-light mt-4" type="submit">Home</button>
                </div>
                <div class="col-sm"></div>
            </form>
        </ul>
    </div>
</body>
<script language="javascript" type="text/javascript" src="./index.js"></script>
</html>